<div class="container">
  <div class="">

    <table>
      <tr>
        <td>
          {{result}}
        </td>
      </tr>
    </table>

    <table>
    <tr>

      <td><input type="button" value="1" (click)="jednicka()"></td>

      <td><input type="button" value="2" (click)="dvojka()"></td>

      <td><input type="button" value="3" (click)="trojka()"></td>

    </tr>
    <tr>
      <td><input type="button" value="4" (click)="ctyrirka()"></td>

      <td><input type="button" value="5" (click)="petka()"></td>

      <td><input type="button" value="6" (click)="sestka()"></td>

      </tr>
     <tr>

       <td><input type="button" value="7" (click)="sedmicka()"></td>

       <td><input type="button" value="8"(click)="osmicka()"></td>

       <td><input type="button" value="9"(click)="devitka()"></td>

       <td><input type="button" value="0"(click)="nula()"></td>

      </tr>
      <tr>


        <td><input type="button" value="-"(click)="minus()"></td>

        <td><input type="button" value="+"(click)="plus()"></td>

        <td><input type="button" value="/"(click)="deleno()"></td>

        <td><input type="button" value="*"(click)="krat()"></td>

        <td><input type="button" value="="(click)="vysledek()"></td>
      </tr>
    </table>


  </div>
</div>
